JIRA_API_TOKEN=xxx
E_MAIL=xxx
JIRA_BASE_URL=xxx
SQUAD_NAME=xxx
CONFLUENCE_BASE_URL=https://verifone.atlassian.net/wiki

# Custom field IDs for Jira
story_points_pulse_estimated=customfield_18045
rag_status=customfield_14753
squad=customfield_14829